.*
!.gitignore
*.pdf
*.npz
__pycache__/*
__pycache__
*.json
!Sim/scan_example.json
!Sim/seq_example.json
*.o
*.so
*.dll
c_exp_cython.c
*.pyd
build
!Sim/seq_run_exp.json
!Sim/seq_run_exp_meas.json
!Sim/seq_run_exp_meas_seq.json
!Sim/seq_time_evo.json
!Sim/MS_gate.json
!Sim/MS_heating.json
!Sim/MS_heating_var.json
!Sim/MS_Fig3.json
!Sim/plot_dm.json
!Sim/plot_fidelity.json
!Sim/Strong_coupling.json
!Sim/Strong_coupling_var.json
!Sim/Cardioid.json
!Sim/Cardioid_var.json
!Sim/Cardioid_meas.json
!Sim/plot_excited.json
!Sim/plot_dm_fig3.json
*.db
